<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
            <%- include('../includes/navigation.ejs') %>
            <main class="product-item__details">
                <div class="card__image">
                    <h1><%= product.title %></h1>
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    <p><%= product.description %></p>
                    <h2><%= product.price %></h2>
                    <form action="/cart" method="post">
                        <button class="btn" type="submit">Add to cart</button>
                    </form>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>